{
    "http": {
        "host": "10.11.0.99",
        "port": 8088
    },
    "connector": {
        "ip": "192.168.56.1",
        "port": 8080,
        "url": "cdnhandler/ws"
    },
    "logging": {
        "level": "debug"
    }
}
